input,
button {
  border: solid 1px #555b6e;
  border-radius: 2px;
  display: inline-block;
  padding: 0;
}
input {
  width: 400px;
  height: 40px;
  border-radius: 2px 0 0 2px;
  color: #888c9c;
  border: solid 1px #888c9c;
  padding: 0 5px 0 10px;
}

button {
  width: 70px;
  height: 42px;
  background-color: #4468e8;
  color: white;
  border: solid 1px #4468e8;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  margin-left: 5px;
}
button:hover {
  background-color: #5a7af1;
}
article {
  margin: 40px 0 10px 0;
  color: #202845;
}
article,
article > p {
  color: #202845;
}

article > p:first-of-type {
  font-weight: bold;
  font-size: 22pt;
}

img {
  width: 400px;
  border-radius: 5pt;
}

label {
  display: block;
  color: #888c9c;
}

.search-label {
  margin-bottom: 10px;
}
.article-view{
  border-style: groove;
  max-width: 400px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border-color: #cbd1ef;
  cursor: pointer;
  transition: 0.5s;
}
.article-view:hover{
  transform: scale(1.08);
}
