.img-logo {
  max-width: 130px;
  width: 100%;
  height: auto;
  margin-right: 30px;
}
.header {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 50px;
}
img{
  max-width: 500px;
  width: 100%;
}
.article-detail{
  border: solid;
  border-color: rgba(0, 0, 0, 0.541);

}
