<main>
  <header class="header">
    <img class="img-logo" src="assets/logo.svg" alt="fairhouse" />

    <h2>Fairhouse</h2>
  </header>
  <div class="main-div">
    <section>
      <app-housing-list
        [locationList]="data"
        (locationSelectedEvent)="updateSelectedLocation($event)"
      ></app-housing-list>
    </section>

    <article>
      <ng-container *ngIf="selectedLocation">
        <img [src]="selectedLocation.photo" />
        <h1 class="title">{{ selectedLocation.name }}</h1>
        <h3>{{ selectedLocation.availableUnits }}</h3>
        <h3>{{ selectedLocation.city }}, {{ selectedLocation.state }}</h3>
        <h4>
          {{
            selectedLocation.laundry ? "Has laundry" : "Does Not have laundry"
          }}
        </h4>
        <h4>{{ selectedLocation.wifi ? "Has wifi" : "Does Not have wifi" }}</h4>
      </ng-container>
    </article>
  </div>
</main>
