.img-logo {
  max-width: 140px;
  width: 100%;
  height: auto;
  margin-right: 30px;
}
.header {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 50px;
  background-color: rgba(203, 223, 232, 0.511);
}
img {
  width: 100%;
  border-radius: 8px;
}
article {
  max-width: 600px;
  width: 100%;
}
div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}
.title{
  font-size: 30px;
}
